[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pyaml = "*"
golos = {git = "https://github.com/bitfag/golos-python.git", ref = "golos-v0.18"}


[dev-packages]



[requires]

python_version = "3.6"
