[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pyaml = "*"
golos-piston = {git = "https://github.com/bitfag/golos-piston.git"}


[dev-packages]



[requires]

python_version = "3.6"
